  <div class="signup-page">
      <div class="split-screen">
          <div class="left">
              <section class="copy">
                  <h2>FIND YOUR DREAM HOME</h2>
                  <p>We'll help you find it.</p>
  
              </section>
          </div>
          <div class="right">
              <form #userForm = "ngForm" [formGroup]="signupForm" (ngSubmit)="signup(userForm)" >
                  <section class="copy">
                      <h2>SIGN UP</h2>
                      <div class="login-container">
                          <p>Already have an account? <a routerLink="/login"><strong>Login</strong></a></p>
                      </div>
                  </section>
                  <div class="input-container">
                      <label for="Fname">First Name</label>
                      <input type="text" id = "Fname" formControlName = "Fname" name = "Fname" [ngClass]="{'is-invalid': submitted && signupForm.controls.Fname.errors}">
                      <div *ngIf="submitted && signupForm.controls.Fname.errors" class = "error">
                          <div *ngIf="submitted && signupForm.controls.Fname.errors.required">
                              First Name is required
                          </div>
                      </div>
                  </div>
                  <div class="input-container">
                      <label for="Lname">Last Name</label>
                      <input type="text" id = "Lname" formControlName = "Lname" name = "Lname" [ngClass]="{'is-invalid': submitted && signupForm.controls.Lname.errors}">
                      <div *ngIf="submitted && signupForm.controls.Lname.errors" class = "error">
                          <div *ngIf="submitted && signupForm.controls.Lname.errors.required">
                              Last Name is required
                          </div>
                      </div>
                  </div>
                  <div class="input-container">
                      <label for="email">Email ID</label>
                      <input type="text" id = "email" formControlName = "email" name = "email" [ngClass]="{'is-invalid': submitted && signupForm.controls.email.errors}">
                      <div *ngIf="submitted && signupForm.controls.email.errors" class = "error">
                          <div *ngIf="submitted && signupForm.controls.email.errors.required">
                              Email is required
                          </div>
                          <div *ngIf="submitted && signupForm.controls.email.errors.email">
                              Enter a Valid Email ID
                          </div>
                          
                      </div>
                      
                  </div>
                  <div class="input-container">
                      <label for="password">Password</label>
                      <input type="password" id = "password" formControlName = "password" name = "password" [ngClass]="{'is-invalid': submitted && signupForm.controls.password.errors}">
                      <div *ngIf="submitted && signupForm.controls.password.errors" class = "error">
                          <div *ngIf="submitted && signupForm.controls.password.errors.required">
                              Password is required
                          </div>
                          <div *ngIf="submitted && signupForm.controls.password.errors.minlength">
                              Password should be atleast 8 characters.
                          </div>
                      </div>
                  </div>
                  <div class="input-container">
                      <label for="mobile">Mobile number</label>
                      <input type="text" id = "mobile" formControlName = "mobile" name = "mobile" [ngClass]="{'is-invalid': submitted && signupForm.controls.mobile.errors}">
                      <div *ngIf="submitted && signupForm.controls.mobile.errors" class = "error">
                          <div *ngIf="submitted && signupForm.controls.mobile.errors.required">
                              Mobile number is required
                          </div>
                      </div>
                  </div>
                  <div class="input-container">
                      <label for="dob">Date of Birth</label>
                      <input type="date" id = "dob" formControlName = "dob" name = "dob" [ngClass]="{'is-invalid': submitted && signupForm.controls.dob.errors}">
                      <div *ngIf="submitted && signupForm.controls.dob.errors" class = "error">
                          <div *ngIf="submitted && signupForm.controls.dob.errors.required">
                              Date of birth is required
                          </div>
                      </div>
                  </div>
                  <div class="input-container cta">
                      <label class = "checkbox-container">
                          <input type="checkbox">
                          <span class = "checkmark"></span>
                          Sign up for email updates.
              
                      </label>
                  </div>
                  <button type="submit" class="signup-btn">Sign Up</button>
                  <section class="copy-legal">
                      <p><span class="small">By continuing, you agree to accept our <br><a href="#">Privacy Policy</a> &amp; <a href="#">Terms of Service</a>.</span></p>
                  </section>
              </form>
          </div>
      </div>
  </div>
