<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="about.component.css">
</head>
<body>
  <header>

    <h1>PredictMyBangaloreHome</h1>

  </header>

  <section>
    <article>
      <h3 style="--i:6;">Welcome , to the future of </h3>
      <h2>House Price Prediction</h2>
      <h3 style="--i:8;">By <span><a href="https://fr.wikipedia.org/wiki/D%C3%A9veloppement_web_frontal" target="_blank" title="Wikipedia">Balaji</a></span></h3>
      <p>We are a team of machine learning enthusiasts dedicated to helping you make informed decisions when it comes to buying or selling a house in Bangalore. Our website utilizes state-of-the-art machine learning algorithms to predict accurate house prices based on various factors such as location, size, amenities, and more.</p>
    </article>
    <div class="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png" alt=""></div>
  </section>


  <div class="cards-section">
    <div class="portfolio gallery">
  <div class="item">
    <div class="thumb">
      <a href="#" class="category">3D Render</a>
      <a href="https://source.layoutflow.com/assets/astronaut-3d.jpg" class="galleryimage">
        <span class="fa-solid fa-plus"></span>
      </a>
      <img src="https://source.layoutflow.com/assets/astronaut-3d.jpg" alt="" />
    </div>
    <div class="text">
      <h3><a href="#">Anna nagar</a></h3>
      <p>predict price in anna nagar.</p>
      <a href="#" class="view">View <span class="fa-solid fa-angle-right"></span></a>
    </div>
  </div>
</div>
    <div class="portfolio gallery">
  <div class="item">
    <div class="thumb">
      <a href="#" class="category">3D Render</a>
      <a href="https://source.layoutflow.com/assets/astronaut-3d.jpg" class="galleryimage">
        <span class="fa-solid fa-plus"></span>
      </a>
      <img src="https://source.layoutflow.com/assets/astronaut-3d.jpg" alt="" />
    </div>
    <div class="text">
      <h3><a href="#">adayar</a></h3>
      <p>predict price in adayar.</p>
      <a href="#" class="view">View <span class="fa-solid fa-angle-right"></span></a>
    </div>
  </div>
</div>
    <div class="portfolio gallery">
  <div class="item">
    <div class="thumb">
      <a href="#" class="category">3D Render</a>
      <a href="https://source.layoutflow.com/assets/astronaut-3d.jpg" class="galleryimage">
        <span class="fa-solid fa-plus"></span>
      </a>
      <img src="https://source.layoutflow.com/assets/astronaut-3d.jpg" alt="" />
    </div>
    <div class="text">
      <h3><a href="#">thambaram</a></h3>
      <p>predict price in thambaram.</p>
      <a href="#" class="view">View <span class="fa-solid fa-angle-right"></span></a>
    </div>
  </div>
</div>
  </div>
  <div class="cards-section">
    <div class="portfolio gallery">
  <div class="item">
    <div class="thumb">
      <a href="#" class="category">3D Render</a>
      <a href="https://source.layoutflow.com/assets/astronaut-3d.jpg" class="galleryimage">
        <span class="fa-solid fa-plus"></span>
      </a>
      <img src="https://source.layoutflow.com/assets/astronaut-3d.jpg" alt="" />
    </div>
    <div class="text">
      <h3><a href="#">Astronaut 3D</a></h3>
      <p>Generated Using AI. It's a Photo from Unsplash.</p>
      <a href="#" class="view">View <span class="fa-solid fa-angle-right"></span></a>
    </div>
  </div>
</div>
    <div class="portfolio gallery">
  <div class="item">
    <div class="thumb">
      <a href="#" class="category">3D Render</a>
      <a href="https://source.layoutflow.com/assets/astronaut-3d.jpg" class="galleryimage">
        <span class="fa-solid fa-plus"></span>
      </a>
      <img src="https://source.layoutflow.com/assets/astronaut-3d.jpg" alt="" />
    </div>
    <div class="text">
      <h3><a href="#">Astronaut 3D</a></h3>
      <p>Generated Using AI. It's a Photo from Unsplash.</p>
      <a href="#" class="view">View <span class="fa-solid fa-angle-right"></span></a>
    </div>
  </div>
</div>
    <div class="portfolio gallery">
  <div class="item">
    <div class="thumb">
      <a href="#" class="category">3D Render</a>
      <a href="https://source.layoutflow.com/assets/astronaut-3d.jpg" class="galleryimage">
        <span class="fa-solid fa-plus"></span>
      </a>
      <img src="https://source.layoutflow.com/assets/astronaut-3d.jpg" alt="" />
    </div>
    <div class="text">
      <h3><a href="#">Astronaut 3D</a></h3>
      <p>Generated Using AI. It's a Photo from Unsplash.</p>
      <a href="#" class="view">View <span class="fa-solid fa-angle-right"></span></a>
    </div>
  </div>
</div>
  </div>
</body>
</html>